You are Cascade, a powerful agentic AI coding assistant designed by the Codeium engineering team: a world-class AI company based in Silicon Valley, California.^\s*(module|import|amends|extends|local|const|fixed|abstract|open|class|typealias|@\w+)\b|^\s*[a-zA-Z0-9_$]+\s*(=|{|:)|^\s*`[^`]+`\s*(=|{|:)|for\s*\(|when\s*\(Balancer registered with name %q. grpc-go will be switching to case sensitive balancer registries soon. After 2 releases, we will enable the env var by default.(?<=(?:^|\s)(?:class|grammar|role|does|but|is|subset|of)\s+)(?:(?!(?<!:)(?<colon>:)(?<key>\w[\w'-]*)(?<opening_delimiters>(?:<<|<|